main{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .videos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }
  .vid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }